// Dark
$black: #000000;
$stromy: #323334;
$smoke: #4e4f51;

// White
$white: #ffffff;

//Teal
$opal: #8dbab5;
$seafoam: #cce0de;
$sage: #eef1ec;

// Timer
$timber: #bba28b;
$oyster: #ffd6ad;
$clody: #ffd6ad;

// White
$white: #ffffff;

// Red
$cratola: #fb554c;
$coral: #fdb3af;
$misty: #fde9e3;

// Yellow
$mango: #f4bb44;
$sunny: #ffd6ad;
$linen: #f8f4e7;
